<h1 class= "py-3"><%= @place["name"] %></h1>

<% if @current_user != nil %>
<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
</p>


<div class="row">

<% for post in @posts %>
<div class="col-xl-4 col-md-6">
    <h4><%= post["title"] %></h4>
    <p><%= post["posted_on"] %></p>
  
    <% if post.uploaded_image.attached? %>
     <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
    <% else %>
     <img src="<%= post["image"] %>" class="img-fluid">
    <% end %>

    <p><%= post["description"] %></p>
  </div>
<% end %>

<% end %>

<p>
  <a href="/places" class="btn btn-outline-secondary">Back to All Places</a>
</p>

</div>